<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
  <!-- custom css -->
  <link rel="stylesheet" type="text/css" href="../public/css/index.css">
  <link rel="stylesheet" type="text/css" href="../public/css/styles.css">

  <title>ORGEENO</title>
</head>

<body>
  <!-- nav-bar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand brand mx-5 text-white" href="/">Orgeeno</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item margin px-4">
            <a class="nav-link active boxshadow bg-white text-dark px-4" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item margin px-4">
            <a class="nav-link boxshadow bg-white text-dark px-4" href="/about">About</a>
          </li>
          <li class="nav-item dropdown margin px-4">
            <a class="nav-link dropdown-toggle px-4 boxshadow bg-white text-dark" href="#" id="navbarDropdownMenuLink"
              role="button" data-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu shad" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item fs-3 my-3 " href="/service_1">Contact our experts</a></li>
              <li><a class="dropdown-item fs-3 my-3 " href="/raw_material">Buy Raw Materials</a></li>
              <li><a class="dropdown-item fs-3 my-3 " href="/services_2">Gardening techniques</a></li>
            </ul>
          <li class="nav-item margin px-4">
            <a class="nav-link boxshadow bg-white text-dark px-4" href="/blog">Blog</a>
          </li>
          <li class="nav-item margin px-4">
            <a class="nav-link boxshadow bg-white text-dark px-4" href="/contact">Contact</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <a id="scrollbtn"><i class="fa fa-arrow-up"></i></a>
  <!-- section 1  -->
  <section id="home">
    <div data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to Orgeeno</h1>
      <p class="fs-3 d-none d-lg-block">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat maxime vel cum .</p>
      <p class="fs-3 d-none  d-lg-block ">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
      <a href="/about"><button class="btn learn_more fs-3">Learn More</button></a>
    </div>
  </section>
  <!-- section 2 -->
  <section class="section_2">
    <div class="container">
        <h1 class="tit" data-aos="fade-up" data-aos-delay="100">We Grow Our Business</h1>
      <div class="row">
        <div class="col-lg-6 col-12" data-aos="fade-up" data-aos-delay="100">
          <img src="https://raw.githubusercontent.com/kumaraditya2002/orgeeno/main/public/img/bs.jpg" alt="" class="image img-fluid">
        </div>
        <div class="col-lg-6 ">
          <div class="container ">
            <div class="row  justify-content-center">
              <div class="col-sm-4 icons" data-aos="fade-up" data-aos-delay="100">
                <div class="icon fa fa-3x fa-laptop logo" id="cc"></div>
                <div class="content">
                  <h2>Contact Our Experts</h2>
                  <h3>
                    Lorem ipsum dolor sit amet, consect.
                  </h3>
                </div>
              </div>
              <div class="col-sm-4 icons" data-aos="fade-up" data-aos-delay="200">
                <div class="icon fa fa-3x fa-shopping-cart logo" id="cc">
                </div>
                <div class="content">
                  <h2>Buying Raw Materials</h2>
                  <h3>
                    Lorem ipsum dolor sit amet, con.
                  </h3>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-sm-4 icons " data-aos="fade-up" data-aos-delay="300">
                <div class="icon fa fa-3x fa-lightbulb-o logo" id="cc"></div>
                <div class="content">
                  <h2>Gardening Techniques</h2>
                  <h3>
                    Lorem ipsum dolor sit amet, consecte.
                  </h3>
                </div>
              </div>
              <div class="col-sm-4 icons" data-aos="fade-up" data-aos-delay="400">
                <div class="icon fa fa-3x fa-users logo  " id="cc"></div>
                <div class="content">
                  <h2>Experience</h2>
                  <h3>
                    Lorem ipsum dolor sit amet, consectetur.
                  </h3>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section-3 -->
  <section class="section_3">
    <div class="container">
    <h1 class="tit"  data-aos="fade-up" data-aos-delay="100">Statistical Growth</h1>
      <div class="static_growth row ">
        <div class="col-lg-2 col-md-6 col-6 stats_info counter_grid1"  data-aos="fade-up" >
          <div class="stat-icon">
            <span class="fa fa fa-users fa-2x"></span>
          </div>
          <h1 class="counter" data-target="302">0</h1>
          <h2>No. of Subscribers</h2>
        </div>
        <div class="col-lg-2 col-md-6 col-6 stats_info counter_grid2"  data-aos="fade-up" >
          <div class="stat-icon">
            <span class="fa fa-lightbulb-o fa-2x"></span>
          </div>
          <h1 class="counter" data-target="179">0</h1>
          <h2>Gardening techniques</h2>
        </div>
        <div class="col-lg-2 col-md-6 col-6 stats_info counter_grid3"  data-aos="fade-up" >
          <div class="stat-icon">
            <span class="fa fa-smile-o fa-2x"></span>
          </div>
          <h1 class="counter" data-target="503">0</h1>
          <h2>Happy Clients</h2>
        </div> 
        <div class="col-lg-2 col-md-6 col-6 stats_info counter_grid4"  data-aos="fade-up">
          <div class="stat-icon">
            <span class="fa fa fa-heart fa-2x"></span>
          </div>
          <h1 class="counter" data-target="363">0</h1>
          <h2>Workshops</h2>
        </div>
      </div>
    </div>
  </section>
  <!-- section-4 -->
  <section class="section_4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12"  data-aos="fade-up" data-aos-delay="100">
          <h1 class="titl" >Start Your Kitchen Garden...</h1>
          <h3>We help you to build your <span class="kitchen_garden">KITCHEN GARDEN</span> from step 1.</h3>
          <div>
            <a href="#"><button class="btn btn_start">Start with Us</button></a>
            <a href="#"><button class="btn btn_learn">Learn More</button></a>
          </div>
        </div>
        <div class="col-md-6 col-12"  data-aos="fade-up" data-aos-delay="100">
          <img src="../public/img/kitchen_garden.jpg" class="garden_img img-fluid">
        </div>
      </div>
      </div>
  </section>
  <!-- footer -->
  <div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-6 mt-3 first_footer_col">
                    <h6>Contact</h6>
                    <div class="first_part">
                        <p><span class="footer_main">Address:</span></p>
                        <p>Deal, 433 California St, Suite 300 San Francisco, CA 94104, USA</p>
                    </div>
                    <div class="first_part">
                        <p><span class="footer_main">Email :</span></p>
                        <p>mailid@mail.com</p>
                    </div>
                    <div class="first_part">
                        <p><span class="footer_main">Phone :</span></p>
                        <p>+44-99-55-42</p>
                    </div>
                </div>
                <div class="col-lg-2 col-6 mt-3 second_footer_col">
                    <h6>Company</h6>
                    <a href="/index">
                      <p>Home</p>
                    </a>
                    <a href="/about">
                      <p>About</p>
                    </a>
                    <!-- <a href="service.html"><p>Services</p></a> -->
                    <a href="/blog">
                      <p>Blog</p>
                    </a>
                    <a href="/contact">
                      <p>Contact</p>
                    </a>
                  </div>
                <div class="col-lg-3 col-6 mt-3 hidden">
                    <h6>Latest Posts</h6>
                    <ul class="list-unstyled d-flex flex-wrap">
                        <li class="">
                            <div class="row">
                                <a class="col-md-5 col-4" href="blog-single.html">
                                    <img class="rounded img-fluid img-responsive" src="../public/img/lp1.jpg" height="200px" width="200px" alt="image">
                                </a>
                                <div class="col pl-0">
                                    <a class="footer-small-text" href="blog-single.html">Lorem ipsum dolor sit amet
                                        adipiscin elit</a>
                                    <div class="text-sub-small">Mar 31st</div>
                                </div>
                            </div>
                        </li>
                        <li class="mt-md-0 mt-2">
                            <div class="row my-2 my-md-3">
                                <a class="col-md-5 col-4" href="blog-single.html">
                                    <img class="rounded img-fluid img-responsive" src="../public/img/lp2.jpg" height="200px" width="200px" alt="image">
                                </a>
                                <div class="col pl-0">
                                    <a class="footer-small-text" href="blog-single.html">Cras at nunc sagittis,
                                        suscipit dolor</a>
                                    <div class="text-sub-small">Apr 03rd</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-6 mt-3 hidden">
                    <h6>Subscribe</h6>
                    <div class="footer_sub">
                        <p class="sub">Get latest updates and offers.</p>
                        <form action="#" class="subscribe" method="post">
                            <input type="email" name="email" placeholder="Email Address" required="">
                            <button><span class="fa fa-paper-plane" aria-hidden="true"></span></button>
                        </form>
                        <p><span class="sub">Subscribe To Stay Informed On Services, Offers And Discounts.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid pad-0">
            <div class="row subfooter">
                <ul class="social list-unstyled mt-4">
                    <li>
                        <a href="https://www.facebook.com/geekhaveniiita" target="_blank"
                            class="fab fa-2x fa-facebook icon"></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/geekhaveniiita?s=20" target="_blank"
                            class="fab fa-2x fa-twitter icon"></a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/company/geekhaven-iiita" target="_blank"
                            class="fab fa-2x fa-linkedin icon"></a>
                    </li>

                    <li>
                        <a href="https://github.com/GeekHaven/" target="_blank"
                            class="fab fa-2x fa-github icon"></a>
                    </li>
                    <li>
                        <a href="mailto:geekhaven@iiita.ac.in" target="_blank"
                            class="fa fa-2x fa-envelope icon"></a>
                    </li>
                </ul>
                <div class="text-copyright">
                    <p class="m-0 pb-3 pt-2">
                        © 2020 Copyright | All Rights Reserved Orgeeno.com
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- script tags -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ca8d4b45a8.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="../public/js/script.js"></script>
</body>

</html>
