@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black;
}
html{
    font-size:62.5%;
}
body{
  font-family: 'Piazzolla', serif;
  overflow-x: hidden;
}

/* navbar style */

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
nav{
    background-color: #1e272e;
    box-shadow: 0px 3px 10px grey;
}
nav li{
  font-weight:600;
}

.brand{
    font-size:2.2rem;
    text-shadow: 1px 1px 5px  rgb(167, 98, 231);
    font-weight: 700;
}
.boxshadow{
    border: 2px solid rgb(240, 233, 233);
    border-radius: 3px;
    transition: 0.3s;
    font-size: large;
}
.boxshadow:hover{
    box-shadow: 0px 0px 9px 1px blueviolet;
    transform: scale(1.05,1.05);
}

.margin{
    /* margin-right: 50px;
    margin-bottom: 20px; */
    margin: 10px;
}

/* section-1 style */

#home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 3px 200px;
  justify-content: center;
  align-items: center;
  /* height: 560px; */
  font-family: 'Piazzolla', serif;
}
#home::before{
  content: "";
  background:url('../img/bg1.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.82;
}

#home h1{
  color: white;
  text-align: center;
  font-family: 'Piazzolla', serif;
  font-size: 4rem;
  font-weight: bold;
}
#home p{
  color: white;
  text-align: center;
  font-family:  sans-serif;
}

.btn{
  padding: 6px 20px;
  border: 2px solid blueviolet;
  background: none;
  color: whitesmoke;
  margin: 17px;
  border-radius: 7px;
  cursor: pointer;
  /* font-weight: bold; */
  transition: 0.5s;
}
.learn_more:hover{
   background-color: blueviolet;
   color: white;
   /* opacity: 0.7; */
}
.shad{
  box-shadow:5px 5px 12px rgba(0, 0, 0, 0.2);
}

/* section 2 style */
.section_2{
  background-color: rgb(243, 240, 240);
}
.tit{
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  font-size: 5rem;
  font-weight: 500;
}
.image{
  height: 90%;
  width: 90%;
  border-radius: 10px;
}
.icons{
  color: green;
  border: none;
  /* height: 50%;
  width: 50%; */
  background-color: #fff;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  transition: 0.4s;
}
.icons:hover{
  box-shadow: 8px 8px 7px rgba(0, 0, 0, 0.2);
}
#cc{
  color: green;
  transition: 0.4s;
}
.icons:hover > #cc{
  color: rgb(78, 43, 231);
}
.content{
  margin-top: 1.5rem;
}
.content h3{
  color: grey;
}
.content h2{
  font-weight: 600;
}

/* scroll btn */
#scrollbtn {
  position: fixed;
  bottom: 10px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  display: none;
  z-index: 20000;
}

#scrollbtn:hover {
  background-color: rgb(124, 38, 204);
  transform: scale(1.1);
  transition-duration: 0.2s;
  box-shadow: 0 0 2px 2px  rgba(124, 38, 204,0.7);
}

#scrollbtn i {
  line-height: 0.4;
}

/* section-3 style */
.section_3{
  background-color:rgb(252, 248, 248);
  padding: 4rem 0;
}
.static_growth{
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.stats_info{
    /* width:20% ; */
    text-align: center;
    padding: 0;
    border-top: none;
    border-bottom: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(101, 235, 67);
    padding: 2rem 0rem;
    border-radius: 6px;
    box-shadow:10px 10px 10px  rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}
.stat-icon{
    background: rgba(216, 219, 48, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    line-height: 55px;
    margin-left: auto;
    margin-right: auto;
}

/* footer style */
.footer{
    width:100%;
    background-color: #1e272e;
    margin-top:auto;
}
.footer h6{
    font-size:2rem;
    color:#fff;
    font-weight: 700;
}
.footer .first_part{
    margin-top:1rem;
}
.footer p,.footer-small-text{
    margin:0;
    padding:0;
    font-size:1.5rem;
    /* text-align: center; */
    color:#fff;
    line-height: 3rem;
}
.footer .footer_main{
    color:gray;
    font-weight: 600;
}
.footer_sub{
    background-color: rgb(250, 250, 98);
    padding: 2.3rem;
}
.footer_sub .sub{
  color:rgb(255, 72, 0);
  font-weight: bold;
}
.subscribe input{
    padding:0.7rem 1.5rem;
   border: none;
   width: 80%;
}
::placeholder{
    font-size: 1.3rem;
}
.subscribe button{
    background-color: rgb(253, 61, 61);
    text-align: center;
    cursor: pointer;
    border: none;
    padding:0.7rem 1.7rem;
    margin-left: -2px ;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;  
}
.subscribe button:hover{
    background-color:red;
}
.fa-paper-plane{
   font-size:1.3rem;
   padding: 0;
   margin:0;
   width: 30%;
   text-align: center;
}
.pad-0{
    padding: 0 0;
}
.subfooter{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  #1e272e;
  color: white;
  margin-top: 0px;
  padding-top: 10pt;
  padding-bottom: 0;
  text-align: center;
  margin: 0;
}
.social li {
    display: inline-block;
  }
  
  .social li a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0.5em;
    background: #fff;
    color: black !important;
    position: center;
    display: block;
    line-height: 1.5em;
    text-decoration: none;
  }
  
  .fa-2x {
    font-size: 2.5em !important;
  }
  
  .icon:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
  }
  
  .social .fa-facebook:hover {
    box-shadow: 0 0 2px 4px rgba(65, 103, 178, 0.4);
  }
  
  .social .fa-twitter:hover {
    box-shadow: 0 0 2px 4px rgba(29, 161, 242, 0.4);
  }
  .social .fa-linkedin:hover {
    box-shadow: 0 0 2px 4px rgba(40, 103, 178, 0.4);
  }
  .social .fa-github:hover {
    box-shadow: 0 0 2px 4px rgba(127, 71, 201, 0.4);
  }
  .social .fa-envelope:hover {
    box-shadow: 0 0 2px 4px rgba(219, 68, 55, 0.4);
  }
  
  .text-copyright {
    background-color: #212326;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.5);
  }
  
/* media query */
@media (max-width: 768px){
  #home{
    height: 40vh;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    /* height: 560px; */
    font-family: 'Piazzolla', serif;
  }
  #home::before{
    content: "";
    background:url('../img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    height: 40%;
    width: 100%;
    z-index: -1;
    opacity: 0.82;
  }
  .stats_info{
    width:55% ;
    text-align: center;
    padding: 0;
    border-top: none;
    border-bottom: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(101, 235, 67);
    padding: 2rem 0rem;
    border-radius: 6px;
    box-shadow:10px 10px 10px  rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
  }
  .section_3{
    background-color:rgb(252, 248, 248);
    padding: 1rem 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px){
  #home{
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    /* height: 560px; */
    font-family: 'Piazzolla', serif;
  }
  #home::before{
    content: "";
    background:url('../img/bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity: 0.82;
  }
  .section_3{
    background-color:rgb(252, 248, 248);
    padding: 3rem 0;
  }
  .static_growth{
    margin: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .stats_info{
    width:40% ;
    text-align: center;
    padding: 0;
    border-top: none;
    border-bottom: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: rgb(101, 235, 67);
    padding: 2rem 0rem;
    border-radius: 6px;
    box-shadow:10px 10px 10px  rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
  }
};
