.section_1ser2{
  margin-top: 7rem;
  color: black;
  padding-bottom: 2rem;
  /* background-image: url('../img/service_1/bg.jpg'); */
}

.service_1_head h1{
    font-size: 4rem;
    text-align: center;
    margin-top: 10rem;
    font-weight: 600;
    background: -webkit-linear-gradient(360deg,blue,red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.service_1_head h3{
    text-align: center;
}
 
.flabel{
    background: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
    position: relative;
    top: -3.5rem;
    left: 2.5rem;
    transition: 0.3s ease-in-out;
}
.section_1ser2 form{
    border: none;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0,0.1);
    border-radius: 3px;
    padding: 3rem;
    display: block;
    width: 80%;
    margin: auto;
}
.form-control{
    padding: 1.1rem 0.9rem;
    font-size: 1.6rem;
}
.flabelForM{
    background: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.5rem;
    position: relative;
    top: -12.5rem;
    left: 2.5rem;
    transition: 0.3s ease-in-out;
}
.form_input:focus +.flabelForM{
    font-size: 1.3rem;
    color:green;
    top: -15.8rem;
    left: .8rem;
    font-weight: 500;
    z-index: 10;
}
.form_input:focus +.flabel{
    font-size: 1.3rem;
    color:green;
    top: -5.8rem;
    left: .8rem;
    font-weight: 500;
    z-index: 10;
}
.form-control:focus{
    background-color: white;
    border: 1px solid green;

}
.form_input:not(:placeholder-shown).form_input:not(:focus)+ .flabel{
    top: -5.8rem;
    left: .8rem;
    font-size: 1.3rem;
    font-weight: 500;
    z-index: 10;
}
.form_input:not(:placeholder-shown).form_input:not(:focus)+ .flabelForM{
    top: -15.8rem;
    left: .8rem;
    font-size: 1.3rem;
    font-weight: 500;
    z-index: 10;
}
.ourAdd
{
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.1);
    border: none;
    padding: 2rem;
    width: 80%;
    margin: auto;
}
.mg{
    margin-bottom: 5rem;
}
.hpara{
    margin: 1.5rem;
    color: greenyellow;
    font-size: 3rem;
}
.ci{
    transition: 0.4s;
    color: green;
}
.contact{
    margin-right: 3rem;
}
.contact:hover .ci{
    color: white;
}
.contact:hover>.icons{
    background-color: green;
}
.content h1{
    font-weight: 600;
}
.icons{
    transition: 0.4s;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid green;
    color: green;
    padding: 1rem;
}
.content{
    display: inline;
}

/* section-2 style */
.section_2ser2{
  margin:0rem 0rem;
  padding:2rem 0;
  /* background-image: linear-gradient(45deg, #85ffbd 4%, #fffb7d 60%); */
  background: url('../img/service_1/expert.jpg') no-repeat center center/cover;
  opacity: 0.9;
}
.section_2ser2 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_2ser2 .card{
    text-align: center;
    margin:auto;
    width:18rem;
    border-radius: 15px;
}
.section_2ser2 .card-img-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.section_2ser2 .expert_card{
    margin:1.5rem 0rem;
}

/* media_query */
@media (max-width:1000px)
{
    .service_1_head h1{
        font-size:3.7rem;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 0rem;
    }
    .service_1_head p{
        font-size:2.2rem;
        font-weight: 600;
        color:black;
        margin: 0rem 0 0rem 0;
    }
    .section_1ser2 .form_main p{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 0rem;
        font-weight: 600;
        color: red;
    }
    .section_1ser2 .col-form-label{
        display: inline;
        font-size: 1.7rem !important ;
        font-weight: bold;
        color:cornsilk;
    }
    .section_1ser2 input{
        width:100%;
        padding:0.8rem 2rem;
        margin:0.3rem;
        border-radius: 0.25rem;
        outline:none;
        background: none;
        color:black;
        border: 2px solid black;
    }
    ::placeholder{
        font-weight: 500;
        font-size: 1.4rem;
    }
    .section_1ser2 .form-group {
        margin:0.3rem;
    }
    .section_2ser2 .card{
        text-align: center;
        margin:auto;
        width:15rem;
        border-radius: 15px;
    }

}

@media (max-width: 1200px) and (min-width:1000px){
    .section_1ser2{
        height:685px;
    }
    .section_1ser2:before{
        content: "";
        background: url('../img/service_1/bg.jpg') no-repeat center center/cover;
        position: absolute;
        opacity: 0.7;
        top: 0;
        height:754px;
        width: 100%;
        z-index: -1;
    }
    .section_2ser2{
        padding:0.7rem 0;
        text-align: center;
    }
}