.section_1ser2{
  margin:7.1rem 0rem;
  margin-bottom: 0;
  height:100vh;
  width:100vw;
  color: black;
}
.section_1ser2:before{
    content: "";
    background: url('../img/service_1/bg.jpg') no-repeat center center/cover;
    position: absolute;
    opacity: 0.7;
    top: 0;
    height: 112vh;
    width: 100%;
    z-index: -1;
}
.service_1_head{
    text-align: center;
}
.service_1_head h1{
    font-size:5rem;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0rem;
}
.service_1_head .our_expert{
    color:rgb(37, 206, 110);
}
.service_1_head p{
    font-size:2.5rem;
    font-weight: 600;
    color:black;
    margin: 0rem 0 0rem 0;
}
.section_1ser2 .form_body{
    width:75%;
    text-align: center;
    display: block;
    margin: auto;
    background: rgba(200, 200, 200, 0.35);
    /* border:2px solid black; */
    padding:0rem;
    margin-top: 0.7rem;
    margin-bottom: 0;
}
.section_1ser2 .form_main{
    display: block;
    align-items: center;
    margin:auto;
}
.section_1ser2 .form_main p{
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 0rem;
    font-weight: 600;
    color: red;
}
.section_1ser2 .col-form-label{
    font-size: 2rem !important ;
    font-weight: bold;
    color:cornsilk;
}
.section_1ser2 .asterisk{
    color:red;
    font-size: 2rem;
}
.section_1ser2 input{
    width:100%;
    padding:1rem 2.4rem;
    margin:0.5rem;
    border-radius: 10px;
    outline:none;
    background: none;
    color:black;
    border: 2px solid black;
}
::placeholder{
    font-weight: 500;
    font-size: 1.6rem;
}
.section_1ser2 .form-group {
    margin:0.4rem;
}
.section_1ser2 .btn{
    margin:0;
    padding:0.8rem 2.4rem;
    background-color: blueviolet;
    color:cornsilk;
    font-size: 1.5rem;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 0.8rem;
}
.section_1ser2 .btn:hover{
    background: none;
    border:2px solid blueviolet;
    color:blueviolet;
}

/* section-2 style */
.section_2ser2{
  margin:0rem 0rem;
  padding:2rem 0;
  background-image: linear-gradient(45deg, #85ffbd 4%, #fffb7d 60%);
}
.section_2ser2 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section_2ser2 .card{
    text-align: center;
    margin:auto;
    width:19rem;
    border-radius: 15px;
}
.section_2ser2 .card-img-top{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.section_2ser2 .expert_card{
    margin:1.5rem 0rem;
}