@import url("https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Piazzolla", serif;
  overflow-x: hidden;
}

/* navbar style */

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
nav {
  background-color: #1e272e;
  /* background: none; */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  /* z-index: 10000; */
}
nav li {
  font-weight: 600;
}

.brand {
  /* padding: 1rem 3rem 0.5rem 3rem; */
  /* border: 2px solid rgb(110, 11, 110); */
  font-size: 2.2rem;
  text-shadow: 1px 1px 5px rgb(167, 98, 231);
  font-weight: 700;
}
.boxshadow {
  border: 2px solid rgb(240, 233, 233);
  border-radius: 3px;
  background: none;
  transition: 0.3s;
  font-size: large;
}
.boxshadow:hover {
  box-shadow: 0px 0px 9px 1px blueviolet;
  transform: scale(1.05, 1.05);
}

.margin {
  /* margin-right: 50px;
    margin-bottom: 20px; */
  margin: 10px;
}

/* scroll btn */
#scrollbtn {
    position: fixed;
    bottom: 10px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    display: none;
    z-index: 20000;
  }
  
  #scrollbtn:hover {
    background-color: rgb(124, 38, 204);
    transform: scale(1.1);
    transition-duration: 0.2s;
    box-shadow: 0 0 2px 2px rgba(124, 38, 204, 0.7);
  }
  
  #scrollbtn i {
    line-height: 0.4;
  }

  /* footer style */
.footer {
    width: 100%;
    background-color: #1e272e;
    margin-top: auto;
    /* padding: 1rem 0; */
  }
  .footer h6 {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
  }
  .footer .first_part {
    margin-top: 1rem;
  }
  .footer p,
  .footer-small-text {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    /* text-align: center; */
    color: #fff;
    line-height: 3rem;
  }
  .footer form{
    border: none;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0,0.1);
    border-radius: 3px;
    padding: 1rem;
    display: block;
    width: 100%;
    margin: auto;
  }
  .footer .footer_main {
    color: gray;
    font-weight: 600;
  }
  .footer_sub {
    background-color: rgb(250, 250, 98);
    padding: 2.3rem;
  }
  .footer_sub .sub {
    color: rgb(255, 72, 0);
    font-weight: bold;
  }
  .subscribe input {
    padding: 0.7rem 1.5rem;
    border: none;
    width: 80%;
  }
  ::placeholder {
    font-size: 1.3rem;
  }
  .subscribe button {
    background-color: rgb(253, 61, 61);
    text-align: center;
    cursor: pointer;
    border: none;
    padding: 0.7rem 1.7rem;
    margin-left: -2px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .subscribe button:hover {
    background-color: red;
  }
  .fa-paper-plane {
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    width: 30%;
    text-align: center;
  }
  .pad-0 {
    padding: 0 0;
  }
  .subfooter {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1e272e;
    color: white;
    margin-top: 0px;
    padding-top: 10pt;
    padding-bottom: 0;
    text-align: center;
    margin: 0;
  }
  .social li {
    display: inline-block;
  }
  
  .social li a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0.5em;
    background: #fff;
    color: black !important;
    position: center;
    display: block;
    line-height: 1.5em;
    text-decoration: none;
  }
  
  .fa-2x {
    font-size: 2.5em !important;
  }
  
  .icon:hover {
    transform: scale(1.2);
    transition-duration: 0.2s;
  }
  
  .social .fa-facebook:hover {
    box-shadow: 0 0 2px 4px rgba(65, 103, 178, 0.4);
  }
  
  .social .fa-twitter:hover {
    box-shadow: 0 0 2px 4px rgba(29, 161, 242, 0.4);
  }
  .social .fa-linkedin:hover {
    box-shadow: 0 0 2px 4px rgba(40, 103, 178, 0.4);
  }
  .social .fa-github:hover {
    box-shadow: 0 0 2px 4px rgba(127, 71, 201, 0.4);
  }
  .social .fa-envelope:hover {
    box-shadow: 0 0 2px 4px rgba(219, 68, 55, 0.4);
  }
  
  .text-copyright {
    background-color: #212326;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 768px) {
    .hidden {
        display: none;
    }
    .first_footer_col,
    .second_footer_col {
      text-align: center;
    }
    .footer h6 {
      font-size: 2.5rem;
    }
    .footer p {
      font-size: 2rem;
    }
  }